# Backend Server Configuration

PORT=5000
NODE_ENV=development

# MongoDB Connection
MONGO_URI=mongodb+srv://afhamsathath2002_db_user:123@cluster0.97xjlgn.mongodb.net/?appName=Cluster0

# JWT Secret


# Client URL (Frontend)
CLIENT_URL=http://localhost:8080

# Email Service (Nodemailer with Gmail)


# Admin Configuration
ADMIN_EMAIL=dddummy296@gmail.com

JWT_SECRET=23c1674ca310f5ddf32b4c1705144e5aa695e151436b72ecac00d94997e779746480cad6332b6182
EMAIL_USER=dddummy296@gmail.com
EMAIL_PASS=ttfc gjxe utgb fywc
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=dddummy296@gmail.com
SMTP_PASS=ttfc gjxe utgb fywc
SMTP_FROM=dddummy296@gmail.com
